.custom-loader {
  width:12px;
  height:12px;
  margin: 0.6em 1.4em 1.8em;
  background: #646cff;
  border-radius: 50%;
  box-shadow: 20px 0 #646cff22,-20px 0 #646cff;
  animation:d5 1s infinite linear alternate;
}
@keyframes d5 {
    0% {box-shadow: 20px 0 #646cff,-20px 0 #646cff22;background: #646cff}
    33%{box-shadow: 20px 0 #646cff,-20px 0 #646cff22;background: #646cff22}
    66%{box-shadow: 20px 0 #646cff22,-20px 0 #646cff;background: #646cff22}
}